/* universal CSS */

*{
    box-sizing: border-box;
    background-color: lightblue;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

h1{
    font-size: 51px;
    margin-top: 0;
    color: red;
}

h2{
    font-size: 40px;
    margin-top: 0;
    color: brown;
}

h3{
    color: purple;
}

h4{
    font-size: 30px;
    color: darkblue;
}

p{
    color: orange;
}

img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* main nav CSS */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px 0 48px;
    color: blueviolet;
}

.logo{
    width: 9rem;
}

nav a{
    text-decoration: none;
    font-weight: 300;
    color: black;
    padding: 8px 16px;
}

nav a:hover{
    font-weight: 400;
    border-bottom: 1px solid black;
}

/* half layout */
.flex-half{
    display: flex;
    justify-content: center;
}

.content-container{
    width: 50%;
    flex-grow: 1;
}

.copy{
    width: 400px;
}
.copy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* half inset layout */

.flex-half-inset{
    display: flex;
    margin: 160px;
    min-width: 1080px;
}

/* thirds layout */

.flex-thirds{
    display: flex;
    margin: 160px;
    min-width: 1080px;
    justify-content: center;
    gap: 1.5rem;
}

/* fifths layout */
.flex-fifths{
    display: flex;
    margin: 160px;
    min-width: 1080px;
    justify-content: center;
    gap: 16px;
}

.comment-card {
    width: 250px;
    height: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    border: 1px solid black;
}

.command-bio{
    display: flex;
    gap: .75rem;
    align-items: center;
}

.comment-bio h4 {
    margin:0;
}

.comment-bio p {
    margin: 0;
}

.bio-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

/* 4 grid layout */

.flex-wrap{
    display: flex;
    margin: 160px;
    min-width: 1080px;
    margin: 0;
    flex-wrap: wrap;
}

.fourths {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
}

/* 9 grid layout */

.flex-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 160px auto;
    gap: 8px;
    justify-content: center;
    max-width: 1080px;
}

.flex-grid div{
    flex: 1 1 30%;
}

/* flex column center */

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.flex-column img{
    max-width: 80px;
}

.flex-column a{
    text-decoration: none;
    font-weight: 300;
    color: black;
    padding: 8px 16px;
    border-bottom: 1px solid black;
}

.flex-column a:hover{
    font-weight: 400;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px 0 48px;
    background-color: black;
}

.logo-footer{
    width: 9rem;
}

footer a{
    text-decoration: none;
    font-weight: 300;
    color: white;
    padding: 8px 16px;
}

footer a:hover{
    font-weight: 400;
}